- 
  var countriesList = {
    0: {
      title: 'Турция',
      flag: 'turkey.svg'
    },
    1: {
      title: 'Турция',
      flag: 'turkey.svg'
    },
    2: {
      title: 'Вьетнам',
      flag: 'vietnam.svg'
    },
    3: {
      title: 'Доминикана',
      flag: 'dominican_republic.png'
    },
    4: {
      title: 'Индия',
      flag: 'india.png'
    },
    5: {
      title: 'Кипр',
      flag: 'cyprus.png'
    },
    6: {
      title: 'ОАЭ',
      flag: 'united_arab_emirates.svg'
    },
    7: {
      title: 'Китай',
      flag: 'china.svg'
    },
    8: {
      title: 'Россия',
      flag: 'russia.svg'
    },
    9: {
      title: 'Тунис',
      flag: 'tunisia.svg'
    }
  }

  var countriesData = [
    {
      country: countriesList[0],
      price: '10 250'
    },{
      country: countriesList[1],
      price: '10 250'
    },{
      country: countriesList[2],
      price: '10 250'
    },{
      country: countriesList[3],
      price: '10 250'
    },{
      country: countriesList[4],
      price: '10 250'
    },{
      country: countriesList[5],
      price: '10 250'
    },{
      country: countriesList[6],
      price: '10 250'
    },{
      country: countriesList[7],
      price: '10 250'
    },{
      country: countriesList[8],
      price: '10 250'
    },{
      country: countriesList[9],
      price: '10 250'
    },{
      country: countriesList[3],
      price: '10 250'
    },{
      country: countriesList[6],
      price: '10 250'
    },{
      country: countriesList[1],
      price: '10 250'
    }
  ]
