- 
  var cardsData = [
    {
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    },{
      title: 'Абхазия, Гафа',
      image: 'card.jpg',
      text: '<p>Пансионат Гагрипш</p><p>09.03.2019 - 14.03.2019  (4 ночи)</p>',
      price: 12208
    }
  ]
