//- includes
include components/head/index.pug
include components/common/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/breadcrumbs/index.pug

include components/pages/index.pug
include components/achivments/index.pug
include components/card/index.pug
include components/sidebar/index.pug
include components/tabs/index.pug
include components/search/index.pug
include components/reviews/index.pug
include components/modal/index.pug
include components/slider/index.pug

include components/footer/index.pug
include components/footer/scripts.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Главная'
	}

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page
		+header({ search: true })
		
		+e.MAIN.content
			+b.SECTION.section
				+e.container.container
					+e.header
						+breadcrumbs(['Достижения'])
						+b.SPAN.caption Достижения
					
					+b.SPAN.caption._padding Мы сотрудничаем с самыми крупными туроператорами
					+sliderOperators
					
					+b.SPAN.caption._padding И сотрудничаем весьма успешно
					+sliderCertificates
					
					+b.SPAN.caption._padding Мы являемся партнером и спонсором наших друзей
					+sliderPartners
					
						
							
							
									
		+footer
		
		+e.modals
			+modalOrder
			
		+scripts
