//- includes
include components/head/index.pug
include components/common/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/breadcrumbs/index.pug

include components/pages/index.pug
include components/search/index.pug
include components/sidebar/index.pug
include components/form/index.pug
include components/card/rating.pug
include components/online/index.pug
include components/modal/index.pug
include components/tabs/index.pug

include components/footer/index.pug
include components/footer/scripts.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Оплата онлайн'
	}

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page
		+header({ search: true })
		
		+e.MAIN.content
			+b.SECTION.section
				+e.container.container
					+e.header._online
						+breadcrumbs(['Оплата онлайн'])
						+b.H2.caption Оплата онлайн
						
				+e.container.container._flex
					+e.block._main-online
						+b.block._ticket._online._card
							+b.card._ticket
								+e.header
									+e.block
										+b.SPAN.caption._size-s Galaxy 3 Hotel 3
										+rating2(3)
									+e.block
										p Номер тура: 6708
								+e.main
									+e.image
										img(src=global.paths.pictures+'card.jpg')
									+e.info
										+b.UL.list
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-plain'
													})
												span Санкт-Петербург
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-calendar'
													})
												span 10.04 - 13.04 3 (ночей)
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-place'
													})
												span Турция, Кемер
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-kitchen'
													})
												span AI (все включено)
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-hotel'
													})
												span Galaxy 3 Hotel 3
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-people'
													})
												span 2 (взрослых)
												
										+b.price
											+e.value 24 320 р
								
							
						+path
						
						+b.block._online._tabs
							+e.tabs
								+tabs
							+e.tabs-content(data-tabs-content="online")
								div(data-tab="0")
									+b.step
										+e.state
											strong 1
											span шаг
										+e.title
											+b.H3.caption Введите данные гражданского паспорта
											p все данные вводятся так, как указано в паспорте
											
									+formOnline
									
								div(data-tab="1")
									+b.H3.caption Инструкция он-лайн оплаты тура
								div(data-tab="2")
									+b.H3.caption Образцы документов
							
						+path
						
					+e.block._sidebar
						+sidebarOnline
					
									
		+footer
		
		+e.modals
			+modalOrder
			
		+scripts
