//- includes
include components/head/index.pug
include components/common/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/breadcrumbs/index.pug

include components/pages/index.pug
include components/search/index.pug
include components/sidebar/index.pug
include components/form/index.pug
include components/card/rating.pug
include components/online/index.pug
include components/modal/index.pug
include components/tabs/index.pug

include components/footer/index.pug
include components/footer/scripts.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Оплата онлайн'
	}

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page
		+header({ search: true })
		
		+e.MAIN.content
			+b.SECTION.section
				+e.container.container
					+e.header._online
						+breadcrumbs([pageSettings.title])
						+b.H2.caption= pageSettings.title
						
				+e.container.container._flex
					+e.block._main-online
						+b.block._ticket._online._card
							+b.card._ticket
								+e.header
									+e.block
										+b.SPAN.caption._size-s Galaxy 3 Hotel 3
										+rating2(3)
									+e.block
										p Номер тура: 6708
								+e.main
									+e.image
										img(src=global.paths.pictures+'card.jpg')
									+e.info
										+b.UL.list
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-plain'
													})
												span Санкт-Петербург
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-calendar'
													})
												span 10.04 - 13.04 3 (ночей)
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-place'
													})
												span Турция, Кемер
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-kitchen'
													})
												span AI (все включено)
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-hotel'
													})
												span Galaxy 3 Hotel 3
											+e.LI.item
												+b.I.ico
													+svg({
														name: 'ico-people'
													})
												span 2 (взрослых)
												
										+b.price
											+e.value 24 320 р
								
							
						+path
						
						+b.block._online._tabs
							+e.tabs
								+tabs
							+e.tabs-content(data-tabs-content="online")
								div(data-tab="0")
									+b.step-content._current(data-step-content="0")
										+b.step
											+e.state
												strong 1
												span шаг
											+e.title
												+b.H3.caption Введите данные гражданского паспорта
												p все данные вводятся так, как указано в паспорте
												
										+formOnline
									
									+b.step-content(data-step-content="1")
										+b.step
											+e.state
												strong 2
												span шаг
											+e.title
												+b.H3.caption Заполните данные о туристах из загранспаспортов
												p все данные вводятся так, как указано в паспорте
												
										+formOnlineStep2
										
									+b.step-content(data-step-content="2")
										+b.step
											+e.state
												strong 3
												span шаг
											+e.title
												+b.H3.caption Ознакомьтесь с условием оферты
											+b.UL.list-count
												+e.LI.item
													p. 
														На указанный адрес электронной почты вам будет 
														выслано письмо с адресованной офертой в виде договора, 
														в котором уже будут автоматически внесены все данные 
														в отношении клиента и участников тура, а так же будет 
														присвоен индивидуальный номер заказа, который будет 
														соответствовать номеру договора.
												+e.LI.item
													p. 
														Заказчик обязан внимательно прочитать текст присланного 
														договора, проверить правильность данных заказчика и 
														участников тура (данные которых вводились при 
														оформлении заявки). 
												+e.LI.item
													p. 
														Осуществление заказчиком оплаты означает акцепт 
														полученного договора (адресной оферты) и всех условий, 
														указных в нем, что в соответствии со ст.ст. 161, 434, 
														438 ГК приравнивается к заключению договора в 
														письменной форме. Акцепт должен быть осуществлен не 
														позднее 12 часов с момента получения договора, в 
														противном случае оферта считается отозванной 
														Турагентством.
												+e.LI.item
													p. 
														После акцептирования договора (осуществления оплаты), 
														права и обязательства сторон регулируется 
														непосредственно самим договором.
												+e.LI.item
													p. 
														Всю необходимую информацию и соответствующие материалы 
														в отношении выбранного туристского продукта Компания 
														присылает Туристу на его электронную почту после 
														осуществления акцепта.
											+b.FORM.form

												+checkbox({
													name: 'С условиями оферты ознакомлен и принимаю'
												})
												
												+e.submit._flex
													+b.BUTTON.button._highlight._size-wide(data-step-button="prev")
														span Предыдущий шаг
													+b.BUTTON.button._highlight._size-wide
														span Оплатить

											
									
								div(data-tab="1")
									+b.H3.caption Инструкция он-лайн оплаты тура
								div(data-tab="2")
									+b.H3.caption Образцы документов
							
						+path
						
					+e.block._sidebar
						+sidebarOnline
					
									
		+footer
		
		+e.modals
			+modalOrder
			+modalClaim
			
		+scripts
