//- includes
include components/head/index.pug
include components/common/index.pug
include components/svg/index.pug

include components/header/index.pug
include components/breadcrumbs/index.pug

include components/pages/index.pug
include components/search/index.pug
include components/reviews/index.pug
include components/modal/index.pug
include components/form/index.pug

include components/footer/index.pug
include components/footer/scripts.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Отзывы'
	}

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page
		+header({ search: true })
		
		+e.MAIN.content
			+b.SECTION.section
				+e.container.container
					+e.header._reviews
						+breadcrumbs([pageSettings.title])
						+b.H2.caption= pageSettings.title
					
					+b.block._form
						+b.H3.caption Оставить отзыв
						+formReview
						
					+pagesReviews
					
					+reviewsPage
					
					+pagesReviews
					
									
		+footer
		
		+e.modals
			+modalOrder
			+modalClaim
			
		+scripts
