- 
  var feauturesData = [
    {
      title: 'Простой поиск туров',
      ico: 'ico-search',
      text: 
        'В течение нескольких секунд вы получите полный перечень доступных'+
        'предложений. Система отсортирует их по 9-ти параметрам и представит'+
        'в удобной форме. Вам остаётся только кликнуть на подходящий вариант.'
    },{
      title: 'Персональный менеджер',
      ico: 'ico-feauture-manager',
      text: 
        'Он подберёт несколько вариантов под ваши требования. Или составит индивидуальную программу.'
    },{
      title: 'Банк горящих путёвок',
      ico: 'ico-feauture-hot',
      text: 
        'Вы получаете доступ к списку горящих путёвок. Не менее 20-ти предложений '+
        'со скидкой ежедневно. Каждое из них уникально. Не упускайте его – бронируйте прямо сейчас.'
    },{
      title: 'Лучшее предложение в городе',
      ico: 'ico-feauture-price',
      text: 
        'Менеджер подберёт вариант по лучшей цене. Он знает ситуацию на рынке, поэтому обеспечит вам выгоду.'
    },{
      title: 'Онлайн-оплата',
      ico: 'ico-feauture-online',
      text: 
        'Оплачивайте банковской картой, не выходя из дома. Используйте эту возможность, '+
        'чтобы сэкономить время или успеть перехватить уникальный горящий тур.'
    },{
      title: 'О будущем путешествии – правдиво',
      ico: 'ico-feauture-chat',
      text: 
        'Менеджер уже проделал этот маршрут сам. Он расскажет все детали. '+
        'Транспорт, отель, уровень комфорта, качество питания и напитков, '+
        'экскурсионное обслуживание. Вы получите полное представление о вашем '+
        'путешествии ещё до его начала.'
    },{
      title: 'Получение документов по Email',
      ico: 'ico-feauture-mail',
      text: 
        'Билет, ваучер, страховой полис и другие документы, необходимые для путешествия, '+
        'вы получите в электронном виде по Email. Это исчерпывающий пакет, '+
        'который позволит отправиться в путь без лишних проволочек.'
    },{
      title: 'Информация из первых рук',
      ico: 'ico-feauture-like',
      text: 
        'О выбранном направлении менеджер знает всё. Климатические условия, курсы валют, '+
        'местные обычаи, хорошие магазины, рестораны и клубы, медицинские услуги и где '+
        'искать помощь в экстренных ситуациях. Эта информация позволит вам наслаждаться '+
        'путешествием, а не решать бытовые проблемы в чужой стране.'
    }
  ]
