- 
  var sidebarOptions = [
    {
      name: 'Питание',
      elements: [
        'Любое',
        'UAI - Ультра все включено',
        'AI - Всё включено',
        'BB – Завтрак',
        'FB - Завтрак, обед, ужин',
        'HB - Завтрак + ужин',
        'RO - Без питания'
      ]
    }
  ]
