include ../global.pug
include data.pug

include ../form/index.pug

mixin sidebarFilter
  +b.sidebar
    +e.content
      +e.block
        +e.SPAN.caption Курорты:
        +b.select._field.select_fsize-s(data-drop)
          +b.BUTTON.js-Dropdown-title Все
          +e.dropdown
            +e.SPAN.caption Популярные:
            +b.UL.options
              +e.LI.item
                +checkbox({
                  name: 'Аланья',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Анталья',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Белек',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Бодрум',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Даламан',
                  state: false
                })
            +e.SPAN.caption Все курорты:
            +b.LABEL.field
              +e.DIV.input
                +e.INPUT(type='text' placeholder='Поиск по курорту')
            +b.UL.options
              +e.LI.item
                +checkbox({
                  name: 'Аланья',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Анталья',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Белек',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Бодрум',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Даламан',
                  state: false
                })
        
      +e.block
        +e.SPAN.caption Питание:
        +b.UL.options
          each item in sidebarOptions[0].elements
            +e.LI.item
              +checkbox({
                name: item,
                state: false
              })
              
      +e.block
        +e.SPAN.caption Класс отеля:
        +b.UL.options
          +e.LI.item
            +checkbox({
              name: 'Любая',
              state: false
            })
          +e.LI.item
            +b.LABEL.checkbox._rating
              input(type="checkbox")
              +e.DIV.box
              +e.DIV.content
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })  
          +e.LI.item
            +b.LABEL.checkbox._rating
              input(type="checkbox")
              +e.DIV.box
              +e.DIV.content
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
          +e.LI.item
            +b.LABEL.checkbox._rating
              input(type="checkbox")
              +e.DIV.box
              +e.DIV.content
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
          +e.LI.item
            +b.LABEL.checkbox._rating
              input(type="checkbox")
              +e.DIV.box
              +e.DIV.content
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
          +e.LI.item
            +b.LABEL.checkbox._rating
              input(type="checkbox")
              +e.DIV.box
              +e.DIV.content
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
                +b.I.ico._star
                  +svg({
                    name: 'ico-star2'
                  })
          +e.LI.item
            +checkbox({
              name: 'Аппартаменты',
              state: false
            })
          +e.LI.item
            +checkbox({
              name: 'Виллы',
              state: false
            })
            
      +e.block
        +e.SPAN.caption Отель:
        +b.select._field.select_fsize-s(data-drop)
          +b.BUTTON.js-Dropdown-title Все
          +e.dropdown
            +e.SPAN.caption Популярные:
            +b.UL.options
              +e.LI.item
                +checkbox({
                  name: '10 Karakoy, A Morgans Original',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '116 Residence Hotel',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '1207 Boutique Hotel',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '2000 Anittepe',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '3T Residence',
                  state: false
                })
            +e.SPAN.caption Все курорты:
            +b.LABEL.field
              +e.DIV.input
                +e.INPUT(type='text' placeholder='Поиск по отелю')
            +b.UL.options
              +e.LI.item
                +checkbox({
                  name: '10 Karakoy, A Morgans Original',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '116 Residence Hotel',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '1207 Boutique Hotel',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '2000 Anittepe',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: '3T Residence',
                  state: false
                })
            
      +e.block
        +e.SPAN.caption Туроператор:
        +b.select._field.select_fsize-s(data-drop)
          +b.BUTTON.js-Dropdown-title Все
          +e.dropdown
            +b.UL.options
              +e.LI.item
                +checkbox({
                  name: 'Туроператор',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Туроператор',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Туроператор',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Туроператор',
                  state: false
                })
              +e.LI.item
                +checkbox({
                  name: 'Туроператор',
                  state: false
                })
        +b.UL.options
          +e.LI.item_strong
            +checkbox({
              name: 'Перелет включен',
              state: false
            })
      
mixin sidebarForm
  +b.sidebar
    +e.header._highlight
      +b.SPAN.caption._size-s Сомневаетесь в выборе?
      span Мы поможем вам подобрать тур!
    
    +e.content
      +b.FORM.form
        +field({
          name: 'Как к Вам обращаться?',
          placeholder: 'Введите имя',
          type: 'text',
          required: true
        })
        
        +field({
          name: 'Ваш контактный телефон:',
          placeholder: '+7 (___) ___ - __ __',
          type: 'text',
          required: true
        })
        
        +textarea({
          name: 'Ваши пожелания',
          placeholder: 'Комментарий',
          required: true
        })
        
        +b.BUTTON.button._full
          span Отправить заявку
          
mixin sidebarSubscribe
  +b.sidebar
    +e.header
      +b.SPAN.caption._size-s Рассылка Горящих туров!
      
    +e.content
      +b.FORM.form
        +fieldMail
        
mixin sidebarOnline
  +b.sidebar
    +e.header._ico
      +b.I.ico
        +svg({
          name: 'ico-info'
        })
      +b.SPAN.caption._size-s Уважаемые клиенты
    +e.content._info
      +e.text
        p.  
          Обращаем Ваше внимание, что наша компания не несет ответственности за неверно 
          предоставленные паспортные данные. В случае ошибки в одной букве или цифре в 
          указанных данных после оплаты тура Вам могут отказать в: выдаче виз, посадке на рейс, 
          трансфере, регистрации в отеле и других составляющих тура. Просим быть внимательными 
          при введении данных. Также обращаем Ваше внимание, что к стоимости туристского 
          продукта могут быть добавлены топливные сборы или доплаты за авиабилеты. 
          Окончательную стоимость туристского продукта Вы можете уточнить у наших 
          специалистов по телефону перед оформлением заявки. Спасибо за использование 
          нашего сервиса он-лайн оплаты.
      +e.image
        img(src=global.paths.images+'payment.jpg' alt="Способы оплаты")
        
