include ../global.pug
include data.pug

include office.pug

mixin address
  +b.FORM.address
    +e.field
      +b.LABEL.field._size-wide
        +e.DIV.input
          +e.INPUT(type="text" placeholder="Введите адрес")
          +e.BUTTON.btn._gray
            +svg({
              name: 'ico-search'
            })
    +e.actions
      +b.A.button._highlight._ico(href="#contacts-list")
        +b.I.ico
          +svg({
            name: 'ico-list'
          })
        span Список
          
      +b.BUTTON.button._ico(data-more data-toggle="Скрыть")
        +b.I.ico
          +svg({
            name: 'ico-place'
          })
        span Карта
