include ../global.pug
include data.pug

- var k = 0;

mixin breadcrumbs(data)
  +b.UL.breadcrumbs(itemscope itemtype="http://schema.org/BreadcrumbList")
    +e.LI.item(itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem")
      a(href="index.html" itemprop="item") 
        span(itemprop="name") Главная
      meta(itemprop="position" content="1")
    - if (data)
      each item in data
        +e.LI.item(itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem")
          a(href="#"+k itemprop="item") 
            span(itemprop="name")= item
          meta(itemprop="position" content=(k++)+2)
          
          - k++
        
  
