include ../global.pug
include data.pug

include ../form/index.pug

mixin modalOrder
  +b.modal._size-s(data-modal="order")
    +e.BUTTON.close
    +e.HEADER.head
      +b.SPAN.caption._size-l Оставить заявку
    +e.content
      +b.FORM.form._modal
        +e.line
          +field({
            name: 'Ваше имя',
            placeholder: 'Иванов Иван Иванович',
            type: 'text',
            style: '_size-full'
          })
        +e.line
          +field({
            name: 'Ваш e-mail',
            placeholder: 'example@mail.com',
            type: 'email',
            style: '_size-full'
          })
        +e.line
          +field({
            name: 'Контактный телефон',
            placeholder: '+7 ( ___ ) - ___ - __ - __',
            type: 'tel',
            mask: '+7 (###) ###-####',
            style: '_size-full'
          })
        +e.text
          p. 
            Отправка заявки ни к чему не обязывает и не является ронированием. 
            Получив заявку, менеджер свяжется с Вами для уточнения деталей
        +e.submit
          +b.BUTTON.button._highlight._full
            span Отправить заявку

mixin modalGallery
  +b.modal._gallery(data-modal="gallery")
    +e.controls
      +b.BUTTON.arrow._prev(data-gallery-controls="0")
        +svg({
          name: 'ico-arrow'
        })
      +b.BUTTON.arrow._next(data-gallery-controls="1")
        +svg({
          name: 'ico-arrow'
        })
    +e.content
    
mixin modalClaim
  +b.modal._size-s(data-modal="claim")
    +e.BUTTON.close
    +e.HEADER.head
      +b.SPAN.caption._size-l Написать директору
    +e.content
      +b.FORM.form._modal
        +e.line
          +field({
            name: 'Ваше имя',
            placeholder: 'Иванов Иван Иванович',
            type: 'text',
            style: '_size-full'
          })
        +e.line
          +field({
            name: 'Ваш телефон',
            placeholder: '+7 ( ___ ) - ___ - __ - __',
            type: 'tel',
            mask: '+7 (###) ###-####',
            style: '_size-full'
          })
        +e.line
          +b.field._size-full
            +e.SPAN.caption Тема обращения
            +b.select._field._full._fsize-s
              select
                option(value="0") Жалоба
                option(value="0") Жалоба
                option(value="0") Жалоба
                option(value="0") Жалоба
        +e.line
          +textarea({
            name: 'Тема обращения',
            placeholder: 'Комментарий',
            style: '_size-full'
          })
        +e.submit
          +b.BUTTON.button._highlight._full
            span Отправить заявку
          
mixin modalMap(data)
  +b.modal(data-modal="map")
    +e.BUTTON.close
    +e.HEADER.head
      +b.SPAN.caption._size-l Воронеж
    +e.content._map
      
