include ../global.pug

mixin head(data)
  meta(charset="UTF-8")
  meta(name="description" content=global.description)
  title= global.title + ' ' + global.separator + ' ' + data.title
  link(rel="stylesheet" href="css/style.css")
  link(rel="icon" type="image/x-icon" href="favicon.ico")
  - if (global.template.adaptive)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  - else
    meta(name="viewport" content="width="+global.template.width+", initial-scale=1, maximum-scale=1")
  
  script(src="https://api-maps.yandex.ru/2.1/?apikey=669dcec3-3a8d-4676-ad47-f1c78ae06db0&lang=ru_RU" type="text/javascript")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  
